<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExCSS" version="4.2.3" targetFramework="net48" />
  <package id="MouseKeyHook" version="5.7.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net45" />
  <package id="Svg" version="3.4.6" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
</packages>